<head>
  <div class="banner">
    <img class="banner-img" src="https://res.cloudinary.com/dsruc2myl/image/upload/c_scale,h_90,w_728/v1682192446/excz9iqriboa6e21qmin.jpg">
  </div>
</head>
<div class="heading">UNDER CONSTRUCTION</div>

<div class="index-wrapper">
  
 <a href="https://res.cloudinary.com/dsruc2myl/image/upload/c_scale,w_350/v1682191857/cluembfxvy6bwrgnoqsm.jpg">PAGE UNDER CONSTRUCTION!</a>
</div>