<head>
  <div class="banner">
    <img class="banner-img" src="/images/Su15_RN_Vomero_W_Hero_Tight_hd_1600.jpeg">
  </div>
</head>
<div class="heading">UNDER CONSTRUCTION</div>

<div class="index-wrapper">
  
 <a href="https://res.cloudinary.com/dsruc2myl/image/upload/c_scale,w_350/v1682191857/cluembfxvy6bwrgnoqsm.jpg">PAGE UNDER CONSTRUCTION!</a>
</div>