<head>
  <div class="banner">
    <img class="banner-img" src="/images/Su15_RN_Vomero_W_Hero_Tight_hd_1600.jpeg">
  </div>
</head>
<div class="heading">My Collection</div>

<div class="index-wrapper">
  
 <a href="/sneaker">My Collection</a>
</div>